* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fa-solid {
    padding-left: 100px;
}
.button--regular {
    color: rgb(248, 11, 129);
    border: none;
    background-color: white;
}
.button--regular a{
    color: rgb(248, 11, 129);
};
header {
     width: 100%;
object-fit: cover;
padding: 0;
    height: 400px;
}
.hero-header-container {
    max-width: 1920px;
    margin: 0 auto;
    transform: translate(0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover;
    height: 500px;
}


.heading h1{
    font-size: 100px;
    color: white;
}