* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 header {
    height: 100px;
    width: 100%;
    background-color: white;
}

.head-container{
    width: 100%;
    height: 100px;
}
.bg-video__content {
    width: 100%;
object-fit: cover;
padding: 0;
    height: 400px;
}
.heading {
    font-size: 70px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-nav a{
text-decoration: none;
color: white;
font-weight: bold;
}
.btn-nav {
    background-color: rgb(248, 11, 129);
    width: 150px;
    border: none;
}
.navbar-nav {
    font-weight: bold;
    padding-right: 0;
}
.fa-solid {
    font-size: 25px;
}
a {
    text-decoration: none;
color: black;
}
.navbar-outer {
    padding-right: 0;
}
.second-heading {
    padding-top: 100px;
    color: black;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.third-heading-img {
    width: 550px;
    height: 350px;
}
.third-heading {
    padding-top: 100px;
}
.third-heading div h3{
font-size: 40px;
}
 .third-heading div button{
    background-color:  rgb(248, 11, 129);
border: none;
}
.third-heading div button a {
    color: white;
font-weight: bold;
}
.third-img {
        width: 550px;
    height: 350px;
}
.third-1-div {
    padding-top: 100px;
}
.third-div-top {
    margin-top: 100px;
/* }
.footer-home {
    height: 100vh;
width: 100%;
background-color: black; */

}
.Collaborate {
    padding-top: 150px;
}
.follow {
    padding-top: 150px;
    padding-left: 200px;
}
.fa-brands {
    font-size: 30px;
}
.font {
    padding-left: 200px;
}
.about {
    background-color: rgb(248, 11, 129);
    border: none;
}
.img-fluid {
    width: 20px;
}

footer a{
    text-decoration: none;
}
.bg-partner {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
.heading {margin-top: -230px;
    margin-left: 100px;
    margin-bottom: 180px;
    
}
.btn-partner {
    width: 220px;
    font-size: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
background-color:  rgb(248, 11, 129);
color: white;
font-weight: bold;
}
.heading-1 {
    font-size: 50px;
    margin-bottom: 0;
}
.section-2 {
    width: 100%;
    text-align: center;
    height: 200px;
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
margin-top: -175px;
} 
.section-2 span {
    font-size: 40px;
    font-weight: bold;
}
.section-2 p{
    padding-top: 25px;
}
.button-10 {


}
.button-10  button{
border-radius: 20px;
}

.parent {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 17px;
grid-row-gap: 17px;
align-items: center;
justify-content: center;
margin-top: 50px; 
font-size: 20px;
}

.div1 { grid-area: 1 / 2 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 1 / 5 / 2 / 6; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 2 / 4 / 3 / 6; }
.div8 { grid-area: 2 / 5 / 3 / 6; }
.div9 { grid-area: 3 / 3 / 4 / 4; }
.div10 { grid-area: 3 / 4 / 4 / 5; }

.parent button {
    border: 2px solid rgb(248, 11, 129);
    background-color: white;
    color: rgb(248, 11, 129);
}

.partner-img {
    width: 400px;
    height: 300px;
}
.div-4 {
    height: 400px;
    width: 300px;
}





/* Tablet */
@media (max-width: 992px) {
    .heading {
        font-size: 70px;
    }
    .third-heading div button {
        width: 450px;
        height: 200px;
    } 
    .third-heading div h3 { 
        font-size: 30px;
    }
 .third-heading div button{
width: 100px;
height: auto; 
}
.third-img {
   margin-top: 50px;    
}
}
/* Mobile */
@media (max-width: 576px) {
    .heading {
        font-size: 40px;
    }
    .second-heading {
        padding-top: 150px;
    }
     .third-heading div button {
        width: 250px;
        height: 100px;
     }
     .third-heading div h3{
    font-size: 20px; 
    }
 .third-heading div button{
width: 100px;
height: auto; 
}
.third-img, .fourth-img{
    width: 450px;
    height: 250px;    
margin-top: 50px;
}
}
