* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 header {
    height: 100px;
    width: 100%;
    background-color: white;
}

.head-container{
    width: 100%;
    height: 100px;
}
.bg-video__content {
    width: 100%;
object-fit: cover;
padding: 0;
    height: 400px;
}
.heading {
    font-size: 70px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-nav a{
text-decoration: none;
color: white;
font-weight: bold;
}
.btn-nav {
    background-color: rgb(248, 11, 129);
    width: 150px;
    border: none;
}
.navbar-nav {
    font-weight: bold;
    padding-right: 0;
}
.fa-solid {
    font-size: 25px;
}
a {
    text-decoration: none;
color: black;
}
.navbar-outer {
    padding-right: 0;
}
.second-heading {
    padding-top: 100px;
    color: black;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.third-heading-img {
    width: 550px;
    height: 350px;
}
.third-heading {
    padding-top: 100px;
}
.third-heading div h3{
font-size: 40px;
}
 .third-heading div button{
    background-color:  rgb(248, 11, 129);
border: none;
}
.third-heading div button a {
    color: white;
font-weight: bold;
}
.third-img {
        width: 550px;
    height: 350px;
}
.third-1-div {
    padding-top: 100px;
}
.third-div-top {
    margin-top: 100px;
/* }
.footer-home {
    height: 100vh;
width: 100%;
background-color: black; */

}
.Collaborate {
    padding-top: 150px;
}
.follow {
    padding-top: 150px;
    padding-left: 200px;
}
.fa-brands {
    font-size: 30px;
}
.font {
    padding-left: 200px;
}
.about {
    background-color: rgb(248, 11, 129);
    border: none;
}
.img-fluid {
    width: 20px;
}

footer a{
    text-decoration: none;
}








/* Tablet */
@media (max-width: 992px) {
    .heading {
        font-size: 70px;
    }
    .third-heading div button {
        width: 450px;
        height: 200px;
    } 
    .third-heading div h3 { 
        font-size: 30px;
    }
 .third-heading div button{
width: 100px;
height: auto; 
}
.third-img {
   margin-top: 50px;    
}
}
/* Mobile */
@media (max-width: 576px) {
    .heading {
        font-size: 40px;
    }
    .second-heading {
        padding-top: 150px;
    }
     .third-heading div button {
        width: 250px;
        height: 100px;
     }
     .third-heading div h3{
    font-size: 20px; 
    }
 .third-heading div button{
width: 100px;
height: auto; 
}
.third-img, .fourth-img{
    width: 450px;
    height: 250px;    
margin-top: 50px;
}
}
